
body {
    width: 90%;
    margin: auto;
}

.tabs {
    overflow: hidden;
    border: 1px solid #f14b47;
    background-color: #d6d1d5;
}

.tabcontent {
    background-color: #d6d1d5;
    border: 1px solid #f14b47;
    border-top: none;
}
<<<<<<< HEAD
table, th, td {
=======

.tablinks {
}

table, th,tr {
>>>>>>> 9227b88128bd1561a61fe56571ab71baabcdf362
    border: 1px solid #f14b47;
    background-color: #d6d1d5;
}

.img {
    max-width: 100px;
    position: relative;
    margin: auto;
}

.slider-show {
    display: none;
}
<<<<<<< HEAD
/* Next & previous buttons */
.prev, .next {

=======

/* Next & previous buttons */

.prev, .next {
>>>>>>> 9227b88128bd1561a61fe56571ab71baabcdf362
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
<<<<<<< HEAD
    margin-top:-20px;
    padding:15px;
    color:black;
    font-weight:bold;
    font-size:20px;
    transition: 0.6s ease ;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
=======
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-top: -10px;
    padding: 15px;
    color: black;
    font-weight: bold;

>>>>>>> 9227b88128bd1561a61fe56571ab71baabcdf362
}

.counter {
    height: 40px;
    max-width: 300px;
    width: auto;
    padding: 5px;
    background-color: aliceblue;
    align-content: center;
    text-align: center;
    margin: auto;

}
<<<<<<< HEAD
=======


/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

>>>>>>> 9227b88128bd1561a61fe56571ab71baabcdf362
.inner_counter {
    height: auto;
    width: auto;
    border: none;
    background-color: #d6d1d5;
    vertical-align: auto;
    align-content: center;
    margin: 5px
}

.active {
    display: block;
    background-color: green;

}
<<<<<<< HEAD
=======

>>>>>>> 9227b88128bd1561a61fe56571ab71baabcdf362
