.tabs{
    overflow: hidden;
    border: 1px solid #f14b47;
    background-color: #d6d1d5;
}

.tabcontent{
    background-color: #d6d1d5;
    border: 1px solid #f14b47;
    border-top: none;
}

.tablinks{}

table,th, td {
    border: 1px solid black;
}
